{block #header}Vložení tématické sbírky{/block}

{block #title}{include #parent} {include #header}{/block}

{block #content}

    <a href="{link default}" class="back">Zpět na přehled sbírek</a>

    {control topicCollectionForm}


{/block}