{block #header}Editace sbírky: {$topicCollection->title_cs}{/block}

{block #title}{include #parent} {include #header}{/block}

{block #content}

    <a href="{link default}" class="back">Přehled všech sbírek</a><br /><br />
    <a href="{link publish!, 'id' => $topicCollection->id}" class="{if !$topicCollection->active}un{/if}published">{if !$topicCollection->active}Nep{else}P{/if}ublikováno</a>

    {control topicCollectionForm}


{/block}